<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <!-- Webpage Title -->
    <title>Web Summarizer</title>

    <!-- Meta Fragment -->
    <th:block th:replace="~{fragments/meta.html :: meta}"></th:block>
</head>
<body>

    <!-- Page Wrapper -->
    <!--<div id="wrapper-page" class="rounded-0 transition-0 opacity-0">-->

<!-- Header -->
<nav id="header" class="navbar rounded-0 fixed-top navbar-expand navbar-dark bg-primary">
    <div class="container container-custom">
        <a class="navbar-brand" href="/">Web Summarizer</a>
    </div>
</nav>

<!-- Main -->
<div id="main" class="container container-custom scroll-main transition-0">
    <div class="row">
        <div class="col">
            <div th:each="history : ${histories}" class="wrapper-summary">
                <div class="date text-black-50 text-center fs-7 w-100"
                     th:text="${#temporals.format(history.uploadTime, 'yyyy/MM/dd h:mm:ss a')}"></div>
                <div class="user fit-content ms-auto me-0 my-2 px-4">
                    <h4 class="d-inline-block mt-0 me-2 mb-0 ms-0 bi bi-person-circle"></h4>
                    <h3 class="d-inline-block m-0" th:text="${user}"></h3>
                </div>
                <div class="chat input fit-content shadow-google border-0 ms-auto me-0 my-2">
                    <span class="text-chat text-input" th:text="${history.getInputText()}"></span>
                </div>
                <div class="bot fit-content ms-0 me-auto my-2 px-4">
                    <h3 class="d-inline-block m-0">Jarvis</h3>
                    <h4 class="d-inline-block mt-0 me-0 mb-0 ms-2 bi bi-robot"></h4>
                </div>
                <div class="chat output fit-content shadow-google border-0 me-auto ms-0 my-2">
                    <span class="text-chat text-output" th:utext="${history.historyContent}"></span>
                    <span class="ai spinner-grow spinner-grow-xs"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--</div>-->

</body>

</html>
