<div class="wrapper-account">
    <div class="modal-header">
        <h5 id="modal-label-account" class="modal-title">My Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body transition-0 opacity-0">
        <!-- Messages Fragment -->
        <th:block th:replace="fragments/message.html :: message"></th:block>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-auto">Logout</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button
                hx-trigger="click queue:none"
                hx-post="/user/account"
                hx-target="#wrapper-login"
                hx-swap="innerHTML"
                hx-include=""
                hx-vals="javascript:{isLoggedIn: getIsLoggedIn()}"
                hx-disabled-elt="this"
                id="button-account"
                class="btn btn-primary btn-request position-relative"
                type="submit"
                th:data-ws-login="${isLoggedIn} ? true : false">
                <span id="button-account-text" class="button-text">Save</span>
                <span id="button-account-spinner" class="button-spinner spinner-border spinner-border-sm position-absolute top-0 bottom-0 start-0 end-0 m-auto d-none" role="status" aria-hidden="true"></span>
        </button>
    </div>
</div>