<div class="wrapper-login">
    <div class="modal-header">
        <h5 id="modal-label-login" class="modal-title" hx-preserve="true">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body transition-0 opacity-0">
        <div id="wrapper-message" class="fs-7">
            <p class="px-4 py-2 success" th:if="${message} and ${isValid}" th:utext="${message}"></p>
            <p class="px-4 py-2 error" th:if="${message} and ${!isValid}" th:utext="${message}"></p>
            <p id="modal-message" class="px-4 py-2 d-none" th:unless="${message}"></p>
        </div>
        <fieldset class="field-set">
            <div class="field required mb-3">
                <label for="login-email" class="form-label m-0 p-0 fs-7 fw-bold text-uppercase">Email Address</label>
                <input id="login-email" class="form-control" name="login-email" type="email" hx-validate="true" hx-preserve="true" required />
            </div>
            <div class="field required mb-3">
                <label for="login-password" class="form-label m-0 p-0 fs-7 fw-bold text-uppercase">Password</label>
                <input id="login-password" class="form-control" name="login-password" type="password" hx-validate="true" required />
            </div>
        </fieldset>
        <div class="text-account text-center pt-4 pb-2">Don't have an account? <a
                                                                                    hx-trigger="click queue:none"
                                                                                    hx-post="/user/register"
                                                                                    hx-target="#wrapper-login"
                                                                                    hx-swap="innerHTML"
                                                                                    hx-disabled-elt="this"
                                                                                    id="link-register"
                                                                                    class="text-account"
                                                                                    href="#">Sign Up
                                                                               </a>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-auto">Reset Password</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button
                hx-trigger="click queue:none"
                hx-post="/user/auth"
                hx-target="#wrapper-login"
                hx-swap="innerHTML"
                hx-include="[name='login-email'], [name='login-password']"
                hx-disabled-elt="this"
                id="button-login"
                class="btn btn-primary position-relative"
                type="submit">
                <span id="button-login-text">Login</span>
                <span id="button-login-spinner" class="spinner-border spinner-border-sm position-absolute top-0 bottom-0 start-0 end-0 m-auto d-none" role="status" aria-hidden="true"></span>
        </button>
    </div>
</div>