<!-- Password Reset Modal -->
<div class="wrapper-register">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-label-resetpw">Enter Your Email</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form action="emailResetPW" method="post">
            <div class="mb-3">
                <label for="login-email-resetpw" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="login-email-resetpw"
                       required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
