<div class="wrapper-thank-you">
    <div class="modal-header">
        <h5 id="modal-label-thank-you" class="modal-title">Pro Features</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body transition-0 opacity-0">
        <!-- Messages Fragment -->
        <th:block th:replace="~{fragments/message.html :: message}"></th:block>
        <div class="wrapper-list">
            <ol class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start px-0 pt-0 pb-3 border-0">
                    <div class="me-auto fs-8">
                        <div class="fs-7 text-uppercase fw-bold">Summarize text or URL</div>
                        <div>Use NLP or LLMs to summarize the content of text or a website link</div>
                    </div>
                    <span class="badge text-bg-primary rounded-pill">Active</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start px-0 pt-0 pb-3 border-0">
                    <div class="me-auto fs-8">
                        <div class="fs-7 text-uppercase fw-bold">Short Link Creation</div>
                        <div>Create a short link to a summary</div>
                    </div>
                    <span class="badge text-bg-primary rounded-pill">Active</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start px-0 pt-0 pb-3 border-0">
                    <div class="me-auto fs-8">
                        <div class="fs-7 text-uppercase fw-bold">Customization</div>
                        <div>Manage short links, and modify account settings</div>
                    </div>
                    <span class="badge text-bg-primary rounded-pill">Active</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start px-0 pt-0 pb-3 border-0">
                    <div class="me-auto fs-8">
                        <div class="fs-7 text-uppercase fw-bold">Summary History</div>
                        <div>Save and access your summaries in your account</div>
                    </div>
                    <span class="badge text-bg-primary rounded-pill">Active</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start px-0 pt-0 pb-3 border-0">
                    <div class="me-auto fs-8">
                        <div class="fs-7 text-uppercase fw-bold">Social Media</div>
                        <div>Integration with social media platforms for authentication and sharing</div>
                    </div>
                    <span class="badge text-bg-primary rounded-pill">Active</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start px-0 pt-0 pb-3 border-0">
                    <div class="me-auto fs-8">
                        <div class="fs-7 text-uppercase fw-bold">API Access</div>
                        <div>Get access to use our backend in your own projects</div>
                    </div>
                    <span class="badge text-bg-primary rounded-pill">Active</span>
                </li>
            </ol>
        </div>
        <h6 class="modal-title border-top border-secondary-subtle pt-3 pb-4 rounded-0">Membership Details</h6>
        <div class="text-account text-center py-2">All pro features are unlocked and active for your <a
                hx-trigger="click queue:none"
                hx-post="/user/login"
                hx-target="#wrapper-login"
                hx-swap="innerHTML"
                hx-vals='javascript:{isLoggedIn: getIsLoggedIn(), isProUser: getIsProUser(), "path": "login"}'
                hx-disabled-elt="this"
                id="link-account"
                class="text-account link-request"
                href="#login"
                data-ws-path="login"
                th:data-ws-login="${isLoggedIn} ? true : false"
                th:data-ws-pro="${isProUser} ? true : false">Account</a>.
        </div>
    </div>
    <div class="modal-footer">
        <button hx-trigger="click queue:none"
                hx-post="/user/cancel"
                hx-target="#wrapper-login"
                hx-swap="innerHTML"
                hx-disabled-elt="this"
                id="button-cancel"
                class="btn btn-secondary btn-request position-relative me-auto"
                type="button">
            <span id="button-cancel-text" class="button-text">Cancel Membership</span>
            <span id="button-cancel-spinner" class="button-spinner spinner-border spinner-border-sm position-absolute top-0 bottom-0 start-0 end-0 m-auto d-none" role="status" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div>