<th:block th:fragment="shortlink">
    <div class="wrapper-chat-history wrapper-newchat" hx-sync="this">
        <div class="login-or text-black-50 text-center fs-7 w-100">Chat History (<a class="link text-decoration-none" th:title="${'Short Link: ' + shortlink}" th:href="${shortlink}"><span class="bi bi-link-45deg"><span class="ms-1" th:text="${shortlink}"></span></span></a>)</div>
    </div>
    <div class="wrapper-summary" th:each="history: ${histories}" hx-sync="this">
        <div class="date text-black-50 text-center fs-7 w-100" th:text="${#temporals.format(history.uploadTime, 'yyyy/MM/dd h:mm:ss a')}"></div>
        <div class="user fit-content ms-auto me-0 my-2 px-4">
            <h4 class="d-inline-block mt-0 me-2 mb-0 ms-0 bi bi-person-circle"></h4>
            <h3 class="d-inline-block m-0" th:text="${user}"></h3>
        </div>
        <div class="chat input fit-content shadow-google border-0 ms-auto me-0 my-2">
            <span class="text-chat text-input" th:text="${history.getInputText()}"></span>
        </div>
        <div class="bot fit-content ms-0 me-auto my-2 px-4">
            <h3 class="d-inline-block m-0">Jarvis</h3>
            <h4 class="d-inline-block mt-0 me-0 mb-0 ms-2 bi bi-robot"></h4>
        </div>
        <div class="chat output fit-content shadow-google border-0 me-auto ms-0 my-2">
            <span class="text-chat text-output" th:utext="${history.historyContent}"></span>
        </div>
        <div class="share-links fit-content fs-7 ms-0 me-auto my-2 px-4">
            <a class="fb text-reset text-decoration-none me-2" title="Share on Facebook" th:href="${'https://www.addtoany.com/add_to/facebook?linkurl=' + shortlink}" target="_blank"><span class="bi bi-facebook"></span></a>
            <a class="x text-reset text-decoration-none me-2" title="Share on X" th:href="${'https://www.addtoany.com/add_to/x?linkurl=' + shortlink}" target="_blank"><span class="bi bi-twitter-x"></span></a>
            <a class="copy text-reset text-decoration-none me-2" title="Copy to Clipboard" href="#copy"><span class="bi bi-clipboard"></span></a>
            <a class="redo text-reset text-decoration-none me-2" title="Reload History" th:href="${shortlink}"><span class="bi bi-arrow-clockwise"></span></a>
        </div>
    </div>
</th:block>