body *:not(.transition-0), body *:not(.transition-0):hover {
	transition-duration: 0.25s!important;
}
body *:not(.rounded-0):not(.modal-backdrop) {
    border-radius: 1.5rem!important;
}
body *:focus:not(.modal) {
    box-shadow: 0 1px 6px 0 rgba(13,110,253,.25)!important;
}
body {
	font-family: 'Roboto Condensed', arial;
}
.container-custom {
    max-width: 992px!important;
}
.scroll-custom {
    margin-top: 5rem;
    /*max-height: calc(100vh - 62px);*/
    max-height: calc(100vh - 10.375rem);
    overflow-y: auto;
}
.btn, .form-control, .shadow-google {
    padding: 0.375rem 1.5rem;
}
.field.required .form-label:after {
    content: ' *';
    color: #e02b27;
}
.was-validated .form-control:invalid, .was-validated .form-control:invalid:focus, .was-validated .form-control:valid, .was-validated .form-control:valid:focus {
    border-color: #ced4da;
}
.success {
    background: #e5efe5;
    color: #006400;
}
.error {
    background-color: #fae5e5;
    color: #e02b27;
}
.shadow-google {
    box-shadow: 0 1px 6px 0 #20212447;
}
.date:not(:first-child) {
    margin-top: 3rem!important;
}
.chat {
    max-width: 80%;
}
.fit-content {
    width: fit-content;
}
.text-justify {
    text-align: justify;
}
.w-125 {
    width: 1.25rem;
}
.h-125 {
    height: 1.25rem;
}
.invert {
    filter: invert(100%);
}
.bi-lock-fill-ms {
    margin-left: 2px;
}
.fs-7 {
    font-size: 0.75rem;
}
.spinner-border-lg {
    width: 2.75rem;
    height: 2.75rem;
}
.spinner-grow-xs {
    --bs-spinner-width: 0.5rem;
    --bs-spinner-height: 0.1rem;
}
.modal-dialog-scrollable {
     height: 100%;
}
.modal-header, .modal-footer {
    border: 0;
}
.modal-body .modal-footer {
    padding: 0;
}
.zindex-loader {
    z-index: 1100;
}
.zindex-intro {
    z-index: 990;
}
/* custom htmx loader */
/*.htmx-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator {
    opacity: 1;
}
.htmx-request.htmx-indicator {
    opacity: 1;
}*/
/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    /*margin-top: 5rem;*/
}
::-webkit-scrollbar-thumb {
    background-color: #f8f8f8;
    border-radius: 1.5rem;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #f1f1f1;
}