/* Custom styles */
body *:not(.transition-0), body *:not(.transition-0):hover {
	transition-duration: 0.25s!important;
}
body *:not(.rounded-0):not(.modal-backdrop) {
    border-radius: 1.5rem!important;
}
body *:focus:not(.shadow-0) {
    box-shadow: 0 1px 6px 0 rgba(13,110,253,.25)!important;
}
body {
	font-family: 'Roboto Condensed', arial;
}
.container-custom {
    max-width: 992px!important;
}
#input-main {
    padding-right: 2.75rem!important
}
.scroll-main {
    margin-top: 5rem;
    /*max-height: calc(100vh - 62px);*/
    max-height: calc(100vh - 10.375rem);
    overflow-y: auto;
}
.scroll-summary {
    max-height: 188px;
    overflow-y: auto;
}
.btn, .form-control, .shadow-google {
    padding: 0.375rem 1.5rem;
}
.modal .btn-helper {
    padding: 0;
}
.modal .btn-helper:focus {
    box-shadow: none!important;
}
.modal-dialog-scrollable {
     height: 100%;
}
.modal-header, .modal-footer {
    border: 0;
}
.div-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.field.required .form-label:after {
    content: ' *';
    color: var(--bs-form-invalid-color);
}
.was-validated .form-control:invalid, .was-validated .form-control:valid {
    border-color: var(--bs-border-color);
}
.was-validated .form-control:invalid:focus, .was-validated .form-control:valid:focus {
    border-color: #86b7fe;
}
.form-control.disabled {
    background-color: var(--bs-secondary-bg);
    opacity: 1;
}
.success {
    background: #e5efe5;
    color: #006400;
}
.error {
    background-color: #fae5e5;
    color: #e02b27;
}
.shadow-google {
    box-shadow: 0 1px 6px 0 #20212447;
}
.wrapper-summary:not(:first-child) {
    margin-top: 3rem!important;
}
.wrapper-newchat {
    margin-bottom: 3rem!important;
}
.newchat {
    top: 0.5rem!important;
    right: 1rem!important;
}
.chat {
    max-width: 80%;
}
.fit-content {
    display: table; /* fix firefox bug */
    width: fit-content;
}
.text-justify {
    text-align: justify;
}
.social-link.invert {
    filter: invert(100%);
}
.blur {
    filter: blur(2px);
}
.grayscale {
    filter: grayscale(100%);
}
.w-60 {
    width: 60%;
}
.w-125 {
    width: 1.25rem;
}
.h-125 {
    height: 1.25rem;
}
.ms-125 {
    margin-left: 0.125rem;
}
.fs-7 {
    font-size: 0.75rem;
}
.fs-8 {
    font-size: 0.625rem;
}
.fs-9 {
    font-size: 0.5rem;
}
.spinner-border-lg {
    width: 2.75rem;
    height: 2.75rem;
}
.spinner-grow-xs {
    --bs-spinner-width: 0.5rem;
    --bs-spinner-height: 0.1rem;
}
.zindex-loader {
    z-index: 1100;
}
.zindex-intro {
    z-index: 990;
}
.payment-options {
    height: 44px;
    width: auto;
}
.wrapper-account fieldset {
    border: var(--bs-border-width) solid var(--bs-border-color);
}
.wrapper-account legend {
    background-color: var(--bs-body-bg);
    font-size: inherit;
    float: inherit;
    width: inherit;
    margin-left: -0.5rem!important;
}
.wrapper-account .form-check-input:not(:checked) {
    border: 2px solid var(--bs-border-color);
}
.login-or {
  overflow: hidden;
  text-align: center;
}
.login-or::before, .login-or::after {
  background-color: var(--bs-border-color);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.login-or::before {
  right: 0.5em;
  margin-left: -50%;
}
.login-or::after {
  left: 0.5em;
  margin-right: -50%;
}
.login-icon {
    max-height: 22px;
}
.bi-clipboard::before, bi-clipboard-check::before, .bi-arrow-clockwise::before {
    font-weight: bold!important;
}
/* custom darkmode */
body[data-bs-theme=dark] .navbar .form-check-input:checked {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-body-bg);
}
body[data-bs-theme=dark] .shadow-google {
    box-shadow: 0 1px 6px 0 #dfdedb53;
}
body[data-bs-theme=dark] .text-black-50 {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, .5) !important;
}
body[data-bs-theme=dark] ::-webkit-scrollbar-thumb {
    background-color: #070707;
}
body[data-bs-theme=dark] ::-webkit-scrollbar-thumb:hover {
    background-color: #0e0e0e;
}
body[data-bs-theme=dark] .social-link.invert {
    filter: invert(25%);
}
body[data-bs-theme=dark] .payment-options.invert {
    filter: invert(100%) grayscale(100%) contrast(200%);
}
body[data-bs-theme=dark] .bi-moon-fill::before {
    content: "\f1d1";
}
/* custom htmx loader */
/*.htmx-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator {
    opacity: 1;
}
.htmx-request.htmx-indicator {
    opacity: 1;
}*/
/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    /*margin-top: 5rem;*/
}
::-webkit-scrollbar-thumb {
    background-color: #f8f8f8;
    border-radius: 1.5rem;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #f1f1f1;
}