<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <!-- Webpage Title -->
    <title>Web Summarizer</title>

    <!-- Meta Fragment -->
    <th:block th:replace="fragments/meta.html :: meta"></th:block>
</head>
<body>

    <!-- Main Wrapper -->
    <div id="wrapper" class="rounded-0 transition-0 opacity-0">

        <!-- Header -->
        <nav id="header" class="navbar rounded-0 fixed-top navbar-expand navbar-dark bg-primary">
            <div class="container container-custom">
                <a class="navbar-brand" href="/">Web Summarizer</a>
                <div class="justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a
                                hx-trigger="click queue:none"
                                hx-post="/user/login"
                                hx-target="#wrapper-login"
                                hx-swap="innerHTML"
                                hx-disabled-elt="this"
                                id="login"
                                class="nav-link"
                                href="#"
                                th:text="${isLoggedIn} ? 'Account' : 'Login'"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-login">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="pro" class="nav-link bi bi-lock-fill" href="#" data-bs-toggle="modal" data-bs-target="#modal-pro"><span class="bi-lock-fill-ms">Pro</span></a>
                        </li>
                        <li class="nav-item">
                            <div class="form-check form-switch nav-link ms-5">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label bi bi-moon-fill" for="flexSwitchCheckDefault"></label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main -->
        <div id="main" class="container container-custom scroll-custom transition-0">
            <div class="row">
                <div class="col">
                    <div id="intro" class="position-absolute top-50 start-50 translate-middle text-center m-auto transition-0 zindex-intro">
                        <span id="wand" class="text-primary fs-1 bi bi-magic"></span>
                        <h3 class="mt-2">What would you like to summarize?</h3>
                    </div>
                    <div id="wrapper-summary" class="text-break text-justify transition-0" hx-sync="this"><!-- Summarized Text --></div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer" class="container container-custom fixed-bottom">
            <div class="row">
                <div class="col">
                    <div class="invalid-feedback transition-0 mt-0 mb-1 px-4 fs-7"></div>
                    <div class="input-group">
                        <!--<span class="input-group-text">http(s)://</span>-->
                        <input id="input-main" class="form-control shadow-google border-0" name="input" type="text" maxlength="5000" placeholder="Enter text or a URL" autofocus required />
                        <div class="input-group-append ms-2">
                            <button
                                hx-trigger="click queue:none"
                                hx-post="/api/summary"
                                hx-include="[name='input']"
                                hx-target="#wrapper-summary"
                                hx-swap="beforeend"
                                hx-disabled-elt="this"
                                id="button-summary"
                                class="btn btn-primary position-relative disabled"
                                type="submit"
                                aria-disabled="true">
                                <span id="button-summary-text">Summarize</span>
                                <span id="button-summary-spinner" class="spinner-border spinner-border-sm position-absolute top-0 bottom-0 start-0 end-0 m-auto d-none" role="status" aria-hidden="true"></span>
                            </button><!-- multiple spam clicks will be ignored until response -->
                        </div>
                    </div>
                    <div id="feedback-length" class="mt-1 mb-1 px-4 fs-7 opacity-0">&nbsp;<!-- 0/5000 --></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Loader -->
    <div id="loader" class="text-primary position-absolute top-50 start-50 translate-middle w-100 h-100 m-auto transition-0 zindex-loader">
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
            <div class="spinner-border spinner-border-lg" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <!-- Login/Register/Account Modal -->
    <div id="modal-login" class="modal fade modal-dialog-scrollable" tabindex="-1" aria-labelledby="modal-label-login" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content position-relative">
                <div id="wrapper-login" class="transition-0 opacity-0" hx-sync="this"></div>
                <div id="modal-loader" class="text-primary position-absolute top-50 start-50 translate-middle w-100 h-100 m-auto transition-0 zindex-loader">
                    <div class="d-flex justify-content-center align-items-center w-100 h-100">
                        <div class="spinner-border spinner-border-lg" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pro Modal -->
    <div id="modal-pro" class="modal fade modal-dialog-scrollable" tabindex="-1" aria-labelledby="modal-label-pro" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-label-pro">Pro Features</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <br /><br /><br /><br /><br /><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Purchase</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>