<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Webpage Title -->
    <title>Web Summarizer</title>

    <!-- Meta Fragment -->
    <th:block th:replace="~{fragments/meta.html :: meta}"></th:block>
</head>
<body>

    <!-- Page Wrapper -->
    <div id="wrapper-page" class="rounded-0 transition-0 opacity-0">

        <!-- Header -->
        <nav id="header" class="navbar rounded-0 fixed-top navbar-expand navbar-dark bg-primary">
            <div class="container container-custom">
                <a class="navbar-brand" href="/">Web Summarizer</a>
                <div class="justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a
                                hx-trigger="click queue:none"
                                hx-post="/user/login"
                                hx-target="#wrapper-login"
                                hx-swap="innerHTML"
                                hx-vals='javascript:{isLoggedIn: getIsLoggedIn(), isProUser: getIsProUser(), "path": "login"}'
                                hx-disabled-elt="this"
                                id="nav-login"
                                class="nav-link nav-request"
                                href="#login"
                                data-ws-path="login"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-login">Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                hx-trigger="click queue:none"
                                hx-post="/user/pro"
                                hx-target="#wrapper-login"
                                hx-swap="innerHTML"
                                hx-vals='javascript:{isLoggedIn: getIsLoggedIn(), isProUser: getIsProUser(), "path": "pro"}'
                                hx-disabled-elt="this"
                                id="nav-pro"
                                class="nav-link nav-request"
                                href="#pro"
                                data-ws-path="pro"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-login">
                                <span class="bi bi-lock-fill"><span class="ms-125">Pro</span></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="form-check form-switch nav-link ms-5">
                                <input id="flexSwitchCheckDefault" class="form-check-input" type="checkbox" role="switch">
                                <label class="form-check-label bi bi-moon-fill" for="flexSwitchCheckDefault"></label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main -->
        <div id="main" class="container container-custom scroll-main transition-0">
            <div class="row">
                <div class="col">
                    <div id="intro" class="position-absolute top-50 start-50 translate-middle text-center m-auto transition-0 zindex-intro">
                        <span id="wand" class="text-primary fs-1 bi bi-magic"></span>
                        <h3 class="mt-2">What would you like to summarize?</h3>
                    </div>
                    <div id="wrapper-summary" class="text-break text-justify transition-0" hx-sync="this"><!-- Summarized Text --></div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer" class="container container-custom fixed-bottom">
            <div class="row">
                <div class="col">
                    <div class="invalid-feedback transition-0 mt-0 mb-1 px-4 fs-7"></div>
                    <div class="input-group">
                        <!--<span class="input-group-text">http(s)://</span>-->
                        <input id="input-main" class="form-control shadow-google" name="input" type="text" maxlength="5000" placeholder="Enter text or a URL" autofocus required />
                        <div class="input-group-append ms-2">
                            <button
                                hx-trigger="click queue:none"
                                hx-post="/api/summary"
                                hx-include="[name='input']"
                                hx-vals="javascript:{isLoggedIn: getIsLoggedIn(), isProUser: getIsProUser()}"
                                hx-target="#wrapper-summary"
                                hx-swap="beforeend"
                                hx-disabled-elt="this"
                                id="button-summary"
                                class="btn btn-primary btn-request position-relative disabled"
                                type="submit"
                                tabindex="-1"
                                aria-disabled="true">
                                <span id="button-summary-text" class="button-text">Summarize</span>
                                <span id="button-summary-spinner" class="button-spinner spinner-border spinner-border-sm position-absolute top-0 bottom-0 start-0 end-0 m-auto d-none" role="status" aria-hidden="true"></span>
                            </button><!-- multiple spam clicks will be ignored until response -->

                            <span id="button-new-chat" class="btn btn-primary btn-request position">New Chat</span>

                            <script>
                                document.getElementById('button-new-chat').addEventListener('click', function() {
                                    // Send POST request
                                    fetch('/api/newchat', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({
                                            // Add any data you want to send in the request body
                                        })
                                    })
                                        .then(response => {
                                            // Handle response
                                            if (response.ok) {
                                                // Success, do something
                                            } else {
                                                // Error, handle accordingly
                                            }
                                        })
                                        .catch(error => {
                                            // Handle error
                                        });
                                });
                            </script>

                        </div>
                    </div>
                    <div id="feedback-length" class="mt-1 mb-1 px-4 fs-7 opacity-0">&nbsp;<!-- 0/5000 --></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Loader -->
    <div id="loader" class="text-primary position-absolute top-50 start-50 translate-middle w-100 h-100 m-auto transition-0 zindex-loader">
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
            <div class="spinner-border spinner-border-lg" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <!-- Login/Pro Modal -->
    <div id="modal-login" class="modal fade shadow-0 modal-dialog-scrollable" tabindex="-1" aria-labelledby="modal-label-login" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content position-relative">
                <div id="wrapper-login" class="transition-0 opacity-0" hx-sync="this"></div>
                <div id="modal-login-loader" class="text-primary position-absolute top-50 start-50 translate-middle w-100 h-100 m-auto transition-0 zindex-loader">
                    <div class="d-flex justify-content-center align-items-center w-100 h-100">
                        <div class="spinner-border spinner-border-lg" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>