<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
    <form action="saveNewPW" method="post">
        <div class="mb-3">
            <label for="password" class="form-label">Enter new password</label>
            <input type="password" class="form-control" name="password" id="password"
                   required>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>
</html>